# Folder instalasi NPM
/node_modules

# File CSS yang digenerate Tailwind
/public/css/output.css

# Log error NPM
npm-debug.log

# File IDE (Visual Studio Code)
/.vscode/

# File Sistem Operasi
.DS_Store
Thumbs.db

# File Kredensial
.env

#vendor dan composer.lock
/vendor
/public/testemail/sendemail.php

