buat file .env dengan isi seperti berikut:

DB_HOST = db
DB_DATABASE = nama_database
DB_USERNAME = nama_user
DB_PASSWORD = password_db
DB_ROOT_PASSWORD = root_pass

SMTP_HOST=
SMTP_PORT=1025
SMTP_AUTH=false
SMTP_USER=
SMTP_PASS=

TURNSTILE_SITE_KEY=<MINTA KE SIDIQ>
TURNSTILE_SECRET_KEY=<MINTA KE SIDIQ>

