@import "tailwindcss";

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 400; 
    src: url('../font/SF-Pro.woff2') format('woff2'); 
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 500;
    src: url('../font/SF-Pro.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 700;
    src: url('../font/SF-Pro.woff2') format('woff2'); 
    font-display: swap;
}

@theme {
  /* ... di sini Anda tambahkan konfigurasi font family Anda */
  --font-sf-pro: 'SF Pro Display';

  --color-background1: #F9FAFC;
  --color-background2: #FBFCFF;

  /* black */
  --color-dark-overlay1: #171e291a;
  --color-dark-overlay2: #171e2933;
  --color-dark-overlay3: #171e294d;
  --color-dark-overlay4: #171e2966;
  --color-dark-overlay5: #171e2980;
  --color-dark-overlay6: #171e2999;
  --color-dark-overlay7: #171e29b3;
  --color-dark-overlay8: #171e29cc;
  --color-dark-overlay9: #171e29e6;
  --color-dark-overlay: #171e29;
  --color-black1: #000000;
  --color-black2: #1E1E1E;
  --color-black3: #1A1A1A;

  /* blue */
  --color-blue-overlay: #1e68fb;
  --color-blue-overlay1: #1e68fb1a;
  --color-blue-overlay-15: #1e68fb26;
  --color-blue-overlay2: #1e68fb33;
  --color-blue-overlay-25: #1e68fb40;
  --color-blue-overlay3: #1e68fb4d;
  --color-blue-overlay4: #1e68fb66;
  --color-blue-overlay5: #1e68fb80;
  --color-blue-overlay6: #1e68fb99;
  --color-blue-overlay7: #1e68fbb3;
  --color-blue-overlay8: #1e68fbcc;
  --color-blue-overlay9: #1e68fbe6;
  --color-blue-hover: blue-200;
  

  /* white */
  --color-white1: #FCFCFC;

  /* green */
  --color-green1: #38C55C;
  --color-green-overlay-25: #38c55c40;
  --color-green-overlay4: #38c55c66;

  /* red */
  --color-red1: #C90B0B;
  --color-red-overlay3: #c90b0b4d;

  /* yellow */
  --color-yellow1: #FDDF30;

  
}

.shadow-top {
  /* x-offset | y-offset | blur | spread | color */
  box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
}